.flipbook-viewport {
    animation: appearBook 2000ms linear;
}

@keyframes appearBook {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.firstPage {
    background-image: url('../../public/images/portada.jpg');
    background-size: 100% 100%;
}

.firstPage,
.pages,
.lastPage {
    width: 200px;
    height: 200px;
}

.pages {
    background-image: url('../../public/images/paper-texture.jpg');
}

.lastPage {
    background-image: url('../../public/images/contra-portada.jpg');
    background-size: 100% 100%;
}