@font-face {
    font-family: 'Harry-Potter';
    src: url('../../public/fonts/HarryP-MVZ6w.ttf');
}

@font-face {
    font-family: 'Wizard-World';
    src: url('../../public/fonts/WizardWorldSimplified-Kxr7.ttf');
}