.gallery {
    display: flex;
    width: 80%;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
}

.card {
    background-color: transparent;
    width: 191px;
    height: 262px;
    perspective: 1000px;
    margin: 2.7rem 0;
    animation: appearWizard 2000ms linear;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    &:hover &__inner {
        transform: rotateY(180deg);
    }

    &__front, &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &__back {
        align-items: center;
        background-image: url('../../public/images/paper-texture.jpg');
        transform: rotateY(180deg);
    }

    &__img {
        width: 100%;
        height: 100%;
        box-shadow: 5px 3px 2px #b5811e;
    }

    &__back, &__img {
        border-radius: 20px;
    }

    &__name, &__bio {
        margin: 0;
        font-family: $font-secundary;
        color: $font-color-secundary;
        text-shadow: 1px 1px 4px #000000;
    }

    &__back {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@keyframes appearWizard {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
