body {
    background-image: url('../../public/images/hogwarts.jpg');
    background-size: 100% 100vh;
    overflow-y: hidden;
}

.app {
    width: 100%;
    height: 100vh;
    cursor: url('../../public/images/wand.png'), auto;
}

.header {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    text-align: center;
    font-family: $font-primary;
    color: $font-color;
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;
    text-shadow: 3px 3px 3px #8f610a;
    animation: appear 2000ms linear;
}

@keyframes appear {
    from {
        transform: translateY(-2rem);
        color: transparent;
    }

    to {
        color: $font-color;
    }
}

.menu {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;

    &__item {
        display: inline-block;
        text-decoration: none;
        font-family: $font-secundary;
        color: $font-color;
        font-size: 2rem;
        text-shadow: 4px 0px 1px #825705;
        animation: appearMenu 2000ms linear;
        transition: 300ms;
    }

    &__item:hover {
        transform: scale(1.5, 1.5);
        text-shadow: 0px 0px 10px #db9819;
    }
}

@keyframes appearMenu {
    from {
        text-shadow: none;
        color: transparent;
    }

    to {
        color: $font-color;
    }
}

.main-section {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}