@font-face {
  font-family: 'Harry-Potter';
  src: url("../../public/fonts/HarryP-MVZ6w.ttf");
}

@font-face {
  font-family: 'Wizard-World';
  src: url("../../public/fonts/WizardWorldSimplified-Kxr7.ttf");
}

body {
  background-image: url("../../public/images/hogwarts.jpg");
  background-size: 100% 100vh;
  overflow-y: hidden;
}

.app {
  width: 100%;
  height: 100vh;
  cursor: url("../../public/images/wand.png"), auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  margin: 0;
  text-align: center;
  font-family: "Harry-Potter";
  color: #e6a51b;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  text-shadow: 3px 3px 3px #8f610a;
  -webkit-animation: appear 2000ms linear;
          animation: appear 2000ms linear;
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    color: transparent;
  }
  to {
    color: #e6a51b;
  }
}

@keyframes appear {
  from {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    color: transparent;
  }
  to {
    color: #e6a51b;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  display: inline-block;
  text-decoration: none;
  font-family: "Wizard-World";
  color: #e6a51b;
  font-size: 2rem;
  text-shadow: 4px 0px 1px #825705;
  -webkit-animation: appearMenu 2000ms linear;
          animation: appearMenu 2000ms linear;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu__item:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  text-shadow: 0px 0px 10px #db9819;
}

@-webkit-keyframes appearMenu {
  from {
    text-shadow: none;
    color: transparent;
  }
  to {
    color: #e6a51b;
  }
}

@keyframes appearMenu {
  from {
    text-shadow: none;
    color: transparent;
  }
  to {
    color: #e6a51b;
  }
}

.main-section {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 40vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
}

.card {
  background-color: transparent;
  width: 191px;
  height: 262px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 2.7rem 0;
  -webkit-animation: appearWizard 2000ms linear;
          animation: appearWizard 2000ms linear;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card__inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__front, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__back {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../public/images/paper-texture.jpg");
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5px 3px 2px #b5811e;
          box-shadow: 5px 3px 2px #b5811e;
}

.card__back, .card__img {
  border-radius: 20px;
}

.card__name, .card__bio {
  margin: 0;
  font-family: "Wizard-World";
  color: #ffca5a;
  text-shadow: 1px 1px 4px #000000;
}

.card__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@-webkit-keyframes appearWizard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearWizard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flipbook-viewport {
  -webkit-animation: appearBook 2000ms linear;
          animation: appearBook 2000ms linear;
}

@-webkit-keyframes appearBook {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearBook {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.firstPage {
  background-image: url("../../public/images/portada.jpg");
  background-size: 100% 100%;
}

.firstPage,
.pages,
.lastPage {
  width: 200px;
  height: 200px;
}

.pages {
  background-image: url("../../public/images/paper-texture.jpg");
}

.lastPage {
  background-image: url("../../public/images/contra-portada.jpg");
  background-size: 100% 100%;
}
/*# sourceMappingURL=styles.css.map */